@import "src/scss/colors";

.form {
  display: flex;
  flex-flow: column nowrap;
}

.input {
  margin-bottom: 40px;
}

.submit {
  width: 120px;
  height: 40px;
  text-transform: none;
  background-color: $lightblue;
  color: white;
}