@import "src/scss/colors";

.form {
  display: flex;
  flex-flow: column nowrap;
}

.input {
  margin-bottom: 40px;
}

.submit {
  width: 120px;
  height: 40px;
  text-transform: none;
  background-color: $lightblue-primary;
  color: white;

  &:hover {
    background-color: $lightblue-primary-dark;
  }
}

.radio {
  &-buttons {
    flex-flow: row nowrap;
  }
}