@import "src/scss/colors";

.form {
  display: flex;
  flex-flow: column nowrap;
}

.input-container {
  margin-bottom: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.input-label {
  margin-right: 10px;
  width: 250px;
  text-align: end;
}

.input {
  width: 100%;
}

.submit {
  width: 120px;
  height: 40px;
  text-transform: none;
  background-color: $lightblue-primary;
  color: white;
  margin-left: 195px;

  &:hover {
    background-color: $lightblue-primary-dark;
  }
}

.radio {
  &-buttons {
    flex-flow: row nowrap;
  }
}
