@import "src/scss/colors";

.navbar {
  background-color: $darkblue;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
}
.tab {
  &:active {
    background-color: $lightblue;
  }
}

.button {
  background-color: $lightblue;
  height: 100%;
}

.about {
  justify-self: flex-end;
}