@import "src/scss/colors";

.main {
  background-color: $lightgray-primary;
  padding: 70px 30px 20px;
  min-height: calc(100vh - 90px);

}

.content {
  margin: 40px;
  padding: 30px 25px;
  background-color: white;
}
