@import "src/scss/colors";

.card {
  margin-bottom: 20px;
}

.action-button {
  color: white;
  width: 80px;
}

.card-header {
  background-color: $lightgray-primary-light;
  border-bottom: solid 1px $lightgray-primary-dark;
}

.sub-content {
  &:not(:first-child) {
    margin-top: 20px;
  }
}