$red-primary: #ff3c3f;
$red-primary-dark: #d43133;

$lightblue-primary: #188fff;
$lightblue-primary-dark: #1576d1;

$darkblue-primary: #001529;

$lightgray-primary: #f0f2f5;
$lightgray-primary-light: #f7f7f7;
$lightgray-primary-dark: #d3d3d3;

$gray-primary: #767676;
